/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --heading-fonts: "Playfair Display", Georgia, sans-serif;
    --body-fonts: "Source Sans 3", Arial, sans-serif;

    --box-shadow-sm: -3px 3px 5px black;
    --box-shadow-lg: -6px 6px 10px black;

    --dk-sky-blue: rgb(14, 123, 218);
}

body{
    font-family: var(--body-fonts);
    line-height: 1.5;
    background: url("images/body-background.png");

}

header, main, footer{
    width: 1440px;
    margin: 0 auto;
}

header{
    background-image: url("images/swiss-valley.jpg");
    background-size: 1440px 560px;
    height: 560px;
}

/* HEADING &  PARAGRAPH STYLES */
h1, h2, h3{
    font-family: var(--heading-fonts);
    text-align: center;
}
h1{
    font-size: 3rem;
    font-weight: bold;
    padding: 16px;
}

h1 a{
    text-decoration: none;
    color: black;
}

h1 a:hover{
    color: var(--dk-sky-blue);
}
h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

P{
    font-size: 1.1rem;
    margin: 0 auto;
    max-width: 65ch;
}

/* LINK STYLES */
nav ul{
    padding-top: 30px;
    display: flex;
    list-style-type: none;
    gap: 150px;
    justify-content: center;
}

nav a{
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    background-color: black;
    padding: 8px 48px;
    color: aliceblue;
    box-shadow: var(--box-shadow-lg);
}

/* PSEUDO-CLASS STYLES */
nav a:hover{
    text-decoration: none;
    background-color: var(--dk-sky-blue);
    color: white;
    box-shadow: var(--box-shadow-sm);
}

.current-page{
    background-color: var(--dk-sky-blue);
}

nav a:focus{
    text-decoration: none;
    background-color: var(--dk-sky-blue);
}

/* MAIN STYLES */
main{
    background-color: aliceblue;
    padding-bottom: 50px;
}

main > h2{
    padding-top: 30px;
}

main > p{
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 1.2rem;
}

/* INFO SECTION STYLES */

#info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-bottom: 1rem;
}

/* We have to set the image's parent container as a grid so we can move it to the center of it's own grid */
#info section{
    display: grid;
}

#info section img{
    justify-self: center;
    padding-bottom: 10px;
}

#info section p{
    justify-self: center;
    padding-top: 10px;
}

/* CONTACT US SECTION STYLES */
#contact-container{
    display: grid;
    grid-template-columns: 0.7fr 0.5fr;
    padding-top: 30px;
}

#contact-container p{
    padding-top: 10px;
}

#contact-container img{
   justify-self: center;
}

#contact-container p, #contact-container img{
    grid-column: 1/2;
}

/* FORM STYLES */
form{
    grid-column: 2/-1;
    grid-row: 2/4;
    width: 350px;
}

input, label, select, textarea{
	display: block;
    width: 100%;
    margin-bottom: 12px;
}

input, select, textarea{
    border-radius: 4px;
}

label{
    font-family: var(--heading-fonts);
    font-size: 1.1rem;
}

input{
    height: 20px;
    margin-bottom: 10px;
    font-family: var(--body-fonts);
    font-size: 1rem;
}

.required{
    color: red;
}

fieldset{
    margin-bottom: 10px;
	border-radius: 4px;
    border: 2px solid black;
	display: flex;
}  

input[type="radio"] + label{
	cursor: pointer;
	display: flex;
	align-items: center;
}

legend{
    font-family: var(--heading-fonts);
    font-weight: bold;
}

textarea{
    height: 100px;
    font-family: var(--body-fonts);
    font-size: 1rem;
}

#my-submit{
    margin-top: 20px;
    font-size: 1.2rem;
    height: 40px;
    box-shadow: var(--box-shadow-lg);
    background-color: black;
    font-family: var(--body-fonts);
    color: aliceblue;
    border: 0px;
}

/* FORM INVALID STYLES */
input:invalid, select:invalid, textarea:invalid{
	border: 2px solid red;
	box-shadow: var(--box-shadow-lg);
}

/* FORM FOCUS STYLES */
input:focus, select:focus, textarea:focus, #my-submit:focus{
    outline: 3px solid black;
    box-shadow: var(--box-shadow-sm);
}

/* SUBMIT HOVER STYLES */
#my-submit:hover{
    background-color: var(--dk-sky-blue);
    box-shadow: var(--box-shadow-sm);
}

/* FOOTER STYLES */
footer{
    text-align: center;
    font-family: var(--body-fonts);
    background-image: url("images/swiss-valley.jpg");
}